.main-page{
    margin-left: 10px;
}

#input-table{
    margin-bottom: 10px;
}

.table-header{
    border : 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #666666;
}

.card-details-table{
    table-layout: fixed;
}

th.table-header{
    width: 100px;
}

td.item-cell{
    border : 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #CCCCCC;
}

.delete-cell{

    border-right:none;
    border-top:none;
    border-bottom:none;
    padding-left:10px;
}

i.glyphicon.glyphicon-trash {
    font-size: 12px;
}

td.input{
    width:50px;
}


.tab-panels ul{
    margin: 0;
    padding: 0;
}

.tab-panels ul li{
    list-style-type: none;
    display: inline-block;
    background: #999;
    margin: 0;
    padding: 4px 10px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
}

.tab-panels ul li:hover{
    color: #fff;
    background: #666;
}

.tab-panels ul li.active{
    color:#fff;
    background: #666;
    
}

.tab-panels .panel{
    display: none;
    background: #c9c9c9;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

.tab-panels .panel.active{
    display: block;
}

/*#card-details-table, thead, tbody{
    border : 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

*/

/*ul.tabs li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}*/

/*
ul.tabs li a:hover {background-color: #ddd;}
*/

/*
ul.tabs li a:focus, .active {background-color: #ccc;}
*/

/*

ul.tabs li {float: left;}



!* Change background color of links on hover*!


 !* Create an active/current tablink class *!




/*!* Style the tab content *!
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}*/

/*
!*.scrollit {

    height:300px;
    overflow:auto;!**!
}*!

.tablehead{
    display: inline-block;
    width: 100%;
    height: 30px;
}

.tablebody{
    height: 300px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}

td, th{
    width: 150px;
    align-content: flex-start;
    display: inline-block;

}
!*#card-details-table{
    width: 150px;
    align-content: flex-start;
    display: inline-block;

}*!

.input-field input{
    float:left;
    margin-outside: 10px;
}


!*.test {
    width: 800px;
    text-align: left;


input.number, lable.number{
    width: 20px;
}




*/
